/* for the body*/
.bg-image {
	background-image: url("Pictures/English-lang-background-resize-sauna.jpg");
	background-size: cover;
	overflow: hidden;
}
/* --- */

/* -------------------------------------- */
/* CSS pre-processor spinner */
.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #208003;
	z-index: 999999;
}

.spinner {
	position: absolute;
	top: 48%;
	left: 48%;
}

.cube1,
.cube2 {
	background-color: white;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
	animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
	25% {
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	}
	50% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	}
	75% {
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}

@keyframes sk-cubemove {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	}
	50% {
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	}
	50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	}
	75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}
	100% {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}
/* -------------------------------------- */

.container {
	padding-right: 0px;
	padding-left: 0px;
	max-width: 80%;
}

.img-thumbnail {
	padding: 0rem;
	/* background-color: #fff; */
	border: 3px solid #dee2e6;
	/* border-radius: .25rem; */
	/* max-width: 100%; */
	/* height: auto; */
}

#lang-sch-1 {
	max-height: 250px;
}

#camp-4 {
	max-height: 250px;
}

.caption {
	animation-name: zoom;
	animation-duration: 0.9s;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.images-in-gallery {
	cursor: pointer;
	-webkit-transition: transform .4s, filter 1s ease-in-out;
	transition: transform .4s, filter 1s ease-in-out;
	filter: grayscale(0);
	/* transition: opacity 800ms ease; */
}

.images-in-gallery:hover {
	filter: grayscale(90%);
}

/* .img-colorize {
	transition: transform .5s, filter 1.5s ease-in-out;
	filter: grayscale(90%);
}
.img-colorize:hover {
	filter: grayscale(0);
	transform: scale(1.02);
} */

.modal-content {
	background-color: unset;
	border: unset;
}
.modal-header {
	border: unset;
}

/* Close button in modal mode */
.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 1000;
	line-height: 1;
	color: #e9ecef;
	text-shadow: 2px 2px 0 #004085;
	opacity: 1;
}

.close:hover {
	color: red;
	text-shadow: 1px 1px 0 #004085;
	outline: none;
}
