body{
  background-image:url("Pictures/English-lang-background.jpg");
  background-size: cover;
}


.container {
    padding-right: 0px;
    padding-left: 0px;

}

.img-thumbnail {
    padding: 0rem;
    /* background-color: #fff; */
    border: 3px solid #dee2e6;
    /* border-radius: .25rem; */
    /* max-width: 100%; */
    /* height: auto; */
}

#lang-sch-1 {
  max-height: 250px;
}

#camp-4 {
  max-height: 250px;
}
